page-randoland {

  .star{
    width: 25px;
    height: 25px;
  }

  .rando_img{
    padding: 5px;
  }

  .card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

}
